.ContactForm {
  margin-left: 20px;
  border: 1px solid blue;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
}
.ContactForm__input {
  display: flex;
}

.ContactForm__name {
  margin: 0;
}
.ContactForm__btn {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  justify-content: center;
}
